*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #09061C;
    font-family: 'Monda', sans-serif;
    margin: 0;
}

.section-title-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

h3.section-title{
    color: #F42BF9;
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
}