---
import { getEntry } from "astro:content";

const lang = Astro.props.lang

const content = (await getEntry('about', lang)).data;

---

<script>
    const bannerContainer = document.getElementById("banner-container")

    const mainBlock = document.querySelector(".main-block-container")
    const profileImg = document.getElementById("profile-img")
    mainBlock?.addEventListener('mouseenter', () => {
        bannerContainer?.classList.add('transition')
        profileImg?.classList.add('zoom-out')
    })

    mainBlock?.addEventListener('mouseleave', () => {
        bannerContainer?.classList.remove('transition')
        profileImg?.classList.remove('zoom-out')
    })
</script>

<section class="about-container" id="about">
    <div class="section-title-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F42BF9" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 8l-4 4l4 4" />
            <path d="M17 8l4 4l-4 4" />
            <path d="M14 4l-4 16" />
          </svg>          
        <h3 class='section-title'>{content.title}</h3>
    </div>
    <div class="description-container">
        {
            content.about.map(i => {
                return (
                    <p class="description">{i}</p>
                )
            })
            
        }
</section>


<style>
    .about-container{
        display: flex;
        flex-direction: column;
        padding: 6rem 8rem;
    }

    .description-container{
        margin: 3rem auto;
        max-width: 40rem;
        width: 100%;
        padding: 0 2rem;
    }

    .description{
        color: #fff;
        font-weight: 300;
        font-size: 1rem;
        text-align:justify;
    }
    @media screen and (max-width: 768px) {

        .about-container{
            display: flex;
            flex-direction: column;
            padding: 10rem 4rem;
        }
        .description-container{
            margin: 5rem auto;
            max-width: 40rem;
            width: 100%;
            padding: 0 2rem;
        }
    }

    @media screen and (max-width: 512px) {

        .about-container{
            display: flex;
            flex-direction: column;
            padding: 4rem 2rem;
        }
        .description-container{
            margin: 1rem auto 3rem;
            max-width: 40rem;
            width: 100%;
            padding: 0 1rem;
        }

        .description{
            font-size: 12px;
        }

    }
</style>