---
import '../styles/global.css'

const certificates = [
    {
        title: 'Hackatón Por Justina',
        organization: 'No Country',
        link: "https://drive.google.com/file/d/1TeRK9Z8e_bImRjcrz4_Ho5mLhXA4qVZQ/view?usp=sharing"
    },
    {
        title: 'Desarrollo Web (JS/Node.js)',
        organization: 'Codo a Codo 4.0',
        link: 'https://drive.google.com/file/d/1yDO_9HO_dqiBMHtnhQqgXnv1kU4v9zN2/view?usp=sharing'
    },
    {
        title: 'Backend Developer',
        organization: 'Programador Promedio',
        link: 'https://drive.google.com/file/d/1zSREleA6RgMw8yHQNFl5BR5AI5FpbuZr/view?usp=drive_link'
    },
    {
        title: 'Experiencia',
        organization: 'No Country',
        link: 'https://drive.google.com/file/d/1iwYSx2ePylUS_umN_TJn9UV0SGSaSbNf/view?usp=sharing'
    },
    {
        title: 'Programación Backend',
        organization: 'Coderhouse',
        link: 'https://drive.google.com/file/d/121hY3fZ-tHgCraqF5i0DSrJPdkuYA-nE/view?usp=sharing'
    },
    {
        title: 'React.js',
        organization: 'Coderhouse',
        link: 'https://drive.google.com/file/d/1VYQQ3jtWs-rYb5kZpm1ms-MXR3BraG7n/view?usp=sharing'
    },
    {
        title: '#YoProgramo',
        organization: 'Argentina Programa',
        link: 'https://drive.google.com/file/d/1nXIy0FF9YT11vaqxGEOyImg6Zrc1ewZy/view?usp=sharing'
    },
    {
        title: '#SéProgramar',
        organization: 'Argentina Programa',
        link: 'https://drive.google.com/file/d/1indzCf_eESnwH1GwWBWG7dlTqjI2GNnx/view?usp=drive_link'
    },
    {
        title: 'C2 Proficient',
        organization: 'EF SET',
        link: 'https://cert.efset.org/nbLcBL'
    }
]
---

<section id="certificates">
    <div class="section-title-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-certificate" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F42BF9" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 15m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M13 17.5v4.5l2 -1.5l2 1.5v-4.5" />
            <path d="M10 19h-5a2 2 0 0 1 -2 -2v-10c0 -1.1 .9 -2 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -1 1.73" />
            <path d="M6 9l12 0" />
            <path d="M6 12l3 0" />
            <path d="M6 15l2 0" />
          </svg>
        <h3 class='section-title'>Certificados</h3>
    </div>
    <div class="certificates-container">
        {certificates.map(({ title, organization, link }) => {
            return(
                <a href={link} class="certificate-item" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-award" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 9m-6 0a6 6 0 1 0 12 0a6 6 0 1 0 -12 0" />
                        <path d="M12 15l3.4 5.89l1.598 -3.233l3.598 .232l-3.4 -5.889" />
                        <path d="M6.802 12l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889" />
                    </svg>
                    <div class="certificate-info">
                        <h5>{title}</h5>
                        <p>{organization}</p>
                    </div>
                </a>
            )
        })}
    </div>
</section>

<style>
    section{
        margin: 10rem 0;
        padding-top: 4rem;
    }

    .certificates-container{
        margin-top: 5rem;
        color: #fff;
        display: flex;
        gap: 4rem;
        flex-wrap: wrap;
    }

    .certificate-item{
        display: flex;
        gap: 1rem;
        align-items: center;
        color: #fff;
        text-decoration: none;
        padding: 1rem;
        border-radius: 8px;

    }

    .certificate-item:hover{
        color: #F42BF9;
        background-color: #ffffff09;
    }

    .certificate-info{
        display: flex;
        flex-direction: column;
    }

    h5{
        margin: 0;
        font-size: 1.15rem;
    }

    .certificate-info p{
        font-size: 0.8rem;
        color: #aaa;
        margin: 0;
    }

    @media screen and (max-width: 1024px) {
        section{
            margin: 10rem 0;
            padding-top: 4rem;
        }

        .certificates-container{
            margin-top: 3rem;
            gap: 2rem;
            justify-content: space-evenly;
        }

        .certificate-item{
            gap: 1rem;
            padding: 0.5rem;

        }

        .certificate-item .icon-tabler{
            height: 2rem;
        }

        h5{
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 768px) {
        section{
            margin: 0;
            padding-top: 0;
        }

        .certificates-container{
            margin-top: 3rem;
            gap: 1rem 2rem;
            justify-content: space-evenly;
        }

        .certificate-item{
            gap: 1rem;
            padding: 0.5rem;
            border-radius: 8px;
            background-color: #ffffff09;

        }
    }

    @media screen and (max-width: 512px) {

        .certificates-container{
            margin-top: 3rem;
            gap: 1rem;
            justify-content: space-evenly;
        }

        .certificate-item{
            gap: 1rem;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            background-color: #ffffff09;

        }

        .certificate-item .icon-tabler{
            display: none;
        }

        h5{
            font-size: 14px;
        }

        .certificate-info p{
            font-size: 12px;
            text-align: center;
        }
    }
</style>