<footer>
    <div class="social-container">
        <div class="social-title-container">
            <svg width="18" height="18" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.8476 17.4408H14.9047V12.8319C14.9047 11.7329 14.8851 10.3181 13.3741 10.3181C11.8413 10.3181 11.6067 11.5156 11.6067 12.7519V17.4405H8.66388V7.96285H11.489V9.25808H11.5286C11.8113 8.77464 12.2199 8.37694 12.7108 8.10733C13.2016 7.83772 13.7565 7.7063 14.3161 7.72707C17.2989 7.72707 17.8488 9.68907 17.8488 12.2415L17.8476 17.4408ZM5.34319 6.66739C4.39998 6.66755 3.63521 5.90302 3.63506 4.9598C3.6349 4.01659 4.39936 3.25182 5.34257 3.25166C6.28579 3.25143 7.05056 4.01596 7.05071 4.95918C7.05079 5.41213 6.87094 5.84656 6.55072 6.16691C6.2305 6.48726 5.79615 6.66729 5.34319 6.66739ZM6.81469 17.4409H3.86867V7.96285H6.81462V17.4408L6.81469 17.4409ZM19.3148 0.518535H2.38988C1.58996 0.509535 0.93397 1.15032 0.924194 1.95023V18.9457C0.93366 19.746 1.58957 20.3874 2.3898 20.379H19.3148C20.1167 20.389 20.7752 19.7476 20.7863 18.9457V1.94891C20.7749 1.14745 20.1163 0.506742 19.3148 0.517216" fill="#fff"/>
            </svg> 
            <h6>LinkedIn</h6>
        </div>
        <a target="_blank" href="https://www.linkedin.com/in/juan-nebbia/">/in/juan-nebbia</a>
    </div>
    <div class="social-container">
        <div class="social-title-container">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.9104 0.517334C5.42626 0.517334 0.979248 5.07028 0.979248 10.6868C0.979248 15.1799 3.8248 18.9919 7.77076 20.3366C8.26708 20.4307 8.44933 20.116 8.44933 19.8473C8.44933 19.6049 8.44002 18.8038 8.43583 17.9541C5.67298 18.5692 5.09 16.7542 5.09 16.7542C4.63821 15.5787 3.98727 15.2661 3.98727 15.2661C3.08626 14.635 4.05523 14.648 4.05523 14.648C5.05245 14.7197 5.57755 15.6959 5.57755 15.6959C6.46335 17.2506 7.90087 16.8011 8.46756 16.5413C8.5567 15.8841 8.81406 15.4353 9.0981 15.1814C6.89225 14.9243 4.57343 14.0523 4.57343 10.1557C4.57343 9.04539 4.96136 8.13817 5.59664 7.426C5.49352 7.16986 5.15362 6.1356 5.69284 4.73477C5.69284 4.73477 6.52682 4.46146 8.42465 5.77721C9.21681 5.55189 10.0664 5.43892 10.9104 5.43502C11.7543 5.43892 12.6046 5.55181 13.3982 5.77721C15.2937 4.46154 16.1266 4.73485 16.1266 4.73485C16.6671 6.13552 16.327 7.16994 16.2239 7.426C16.8607 8.13817 17.246 9.04539 17.246 10.1557C17.246 14.0616 14.9227 14.9216 12.7113 15.1734C13.0675 15.489 13.3849 16.1079 13.3849 17.0566C13.3849 18.4173 13.3734 19.5124 13.3734 19.8473C13.3734 20.118 13.5522 20.4351 14.0555 20.3351C17.9993 18.9891 20.8413 15.1785 20.8413 10.6869C20.8413 5.07028 16.3949 0.517334 10.9104 0.517334ZM4.69881 15.0039C4.67693 15.0545 4.59927 15.0696 4.52858 15.0349C4.45651 15.0018 4.41608 14.9329 4.43936 14.8822C4.46077 14.8302 4.53859 14.8156 4.61044 14.8505C4.68259 14.8837 4.72371 14.9532 4.69881 15.0039ZM5.18729 15.4503C5.13996 15.4952 5.04733 15.4743 4.98448 15.4033C4.91954 15.3325 4.90736 15.2376 4.95539 15.192C5.00427 15.147 5.09403 15.1681 5.15913 15.2389C5.22414 15.3107 5.23671 15.4048 5.18729 15.4503ZM5.52246 16.0213C5.46156 16.0646 5.36209 16.024 5.30057 15.9336C5.23974 15.8432 5.23974 15.7348 5.30189 15.6913C5.36357 15.6479 5.46156 15.6869 5.52386 15.7767C5.58453 15.8686 5.58453 15.9771 5.52239 16.0214L5.52246 16.0213ZM6.08915 16.6828C6.03477 16.7442 5.91877 16.7277 5.83389 16.6438C5.74708 16.5618 5.72295 16.4455 5.77757 16.384C5.83265 16.3224 5.94927 16.3397 6.03477 16.423C6.12089 16.5048 6.14727 16.622 6.08915 16.6828ZM6.82172 16.906C6.79767 16.9857 6.68595 17.0219 6.57352 16.9881C6.46118 16.9532 6.3877 16.8599 6.41036 16.7794C6.43371 16.6992 6.5459 16.6615 6.65918 16.6978C6.77137 16.7324 6.84508 16.825 6.82172 16.906ZM7.65531 17.0008C7.6581 17.0846 7.56275 17.1541 7.44466 17.1557C7.32595 17.1584 7.22983 17.0906 7.22851 17.0079C7.22851 16.9233 7.32176 16.8544 7.44055 16.8524C7.55864 16.85 7.65531 16.9174 7.65531 17.0008ZM8.47423 16.9686C8.48835 17.0504 8.40634 17.1345 8.28903 17.1569C8.17382 17.1784 8.06706 17.1279 8.05239 17.0468C8.03812 16.9629 8.12168 16.8788 8.23674 16.8571C8.3542 16.8362 8.45926 16.8854 8.47423 16.9686Z" fill="#fff"/>
            </svg>
            <h6>Github</h6>
        </div>
        <a target="_blank" href="https://github.com/JuanNebbia">/JuanNebbia</a>
    </div>
    <div class="social-container">
        <div class="social-title-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="21" height="21" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                <path d="M3 7l9 6l9 -6" />
            </svg>
            <h6>Email</h6>
        </div>
        <a target="_blank" href="mailto:juan.nebbia@gmail.com">juan.nebbia@gmail.com</a>
    </div>
</footer>

<style>
    footer{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 10% 4rem;
    }

    .social-title-container{
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }


    h6{
        margin: 0;
        font-size: 1rem;
        color: #fff;
    }

    a{
        text-decoration: none;
        color: #999;
    }

    a:hover{
        color: #b3b3b3;
    }
</style>