<script>
    const navbar = document.getElementById('navbar')

    const handleScroll = () => {
        if (window.scrollY > 0) {
            navbar.classList.add("scrolled");
        } else {
            navbar.classList.remove("scrolled");
        }
    }

    window.addEventListener("scroll", handleScroll);
</script>

<header>
    <nav id="navbar">
        <ul>
            <li><a href="#about">Sobre Mí</a></li>
            <li><a href="#projects">Proyectos</a></li>
            <li><a href="#experience">Experiencia</a></li>
            <li><a href="#certificates">Certificados</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
</header>

<style>
    nav{
        padding: 1rem;
        position: fixed;
        width: 100%;
        z-index: 100;
        transition: background-color 1s ease;
    }

    .scrolled{
        background-color: #18171Eff;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        padding: 0;
        margin: 0;
    }

    li{
    }

    li a{
        text-decoration: none;
        color: #fff;
        text-shadow: 0 2px 4px #0F0C1Aaa;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "Monda";
    }

    li a:hover{
        color: #ddd;
    }
</style>